%footer
  .container
    %p.copyright-txt
      © 2016 Copyrights by
      %a{:href => "/", :target => "_blank"} buangathisguy
      \- All rights reserved.
    .socials
      %a.link-facebook{:href => "#", :title => "Facebook"}
        %i.fa.fa-facebook
      %a.link-twitter{:href => "#", :title => "Twitter"}
        %i.fa.fa-twitter
      %a.link-google-plus{:href => "#", :title => "Google Plus"}
        %i.fa.fa-google-plus

