%nav#navigation.navbar.scrollspy
  .container
    .navbar-brand
      %a{:href => "/"}
        -# %img{:alt => "Logo", :src => "images/logo.png"}/
        %i.fa.fa-assistive-listening-systems
    %ul.nav.navbar-nav
      %li.active
        %a.smooth-scroll{:href => "/"} Home
      %li
        %a.smooth-scroll{:href => "/community"} Community
      %li.menu-btn
        %a{:href => "/login"} Sign In
