.questions-container
  .box-qoute-border.left
    .box-body
    .box-footer

  .box-qoute-border.right
    .box-body
    .box-footer

  .box-qoute-border.left
    .box-body
    .box-footer

  .box-qoute-border.right
    .box-body
    .box-footer
