.box-qoute-border.no-border
  .box-body
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam numquam, sapiente vero odit harum sed quae maxime aperiam incidunt nemo officiis, cumque sit voluptas fugiat, veritatis suscipit cum, placeat quibusdam!
  .box-footer
  .box-image
    %label Author
    %span 08/22/2016

.box-qoute-border.right.no-border
  .box-body
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam numquam, sapiente vero odit harum sed quae maxime aperiam incidunt nemo officiis, cumque sit voluptas fugiat, veritatis suscipit cum, placeat quibusdam!
  .box-footer
  .box-image
    %label Author
    %span 08/22/2016

.box-qoute-border.no-border
  .box-body
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam numquam, sapiente vero odit harum sed quae maxime aperiam incidunt nemo officiis, cumque sit voluptas fugiat, veritatis suscipit cum, placeat quibusdam!
  .box-footer
  .box-image
    %label Author
    %span 08/22/2016

.box-qoute-border.right.no-border
  .box-body
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam numquam, sapiente vero odit harum sed quae maxime aperiam incidunt nemo officiis, cumque sit voluptas fugiat, veritatis suscipit cum, placeat quibusdam!
  .box-footer
  .box-image
    %label Author
    %span 08/22/2016
