%header.intro-header
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .site-heading.point-bottom
          %h1 Aduna ka ba'y mga pangutana?

        %br/
        .input-group.input-group-lg
          %input.form-control{:placeholder => "hello@email.com", :type => "text"}/
          %span.input-group-btn
            %a.btn.btn-default{:href => "/subscribe", :type => "button"} Subscribe Now
