// Place all the default styles.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "utility";

* {
  margin  : 0;
  padding : 0;
}


::selection {
  background-color: #b5e2e7;
}

::-moz-selection {
  background-color: #8ac7d8;
}

html, body {
  min-height : 100% !important;
  height     : 100%;
}

body {
  font        : 300 15px 'Roboto', Helvetica, Arial, sans-serif ;
  font-size   : 16px;
  font-weight : 400;
  color       : #777;
  line-height : 24px;
  display     : block;
}

.navbar {
  min-height    : 0px;
  color         : #FFF;
  padding       : 20px 0px;
  margin        : 0px;
  top           : 0;
  width         : 100%;
  border-radius : 0px;
  position      : absolute;
  z-index: 1;

  ul {
    &.nav {
      overflow : hidden;
      float    : right;
      height   : 40px;

      & > li {
        padding : 8px 10px;

        & > a {
          float          : left;
          color          : #525252;
          font-size      : 14px;
          line-height    : 18px;
          font-weight    : 600;
          text-transform : uppercase;
          background     : none;
          padding        : 7px 15px 6px;
          border-radius  : 15px;
        }
        &.active, &:hover {
          & > a {
            color : #ffffff;
          }
        }
        &:hover {
          & > a {
            background : #afe2d3;
          }
        }
        &.active {
          & > a {
            background : #80ccb6;
          }
        }
      }
    }
  }
}

hr {
  &.small {
    max-width    : 400px;
    margin       : 15px auto;
    border-width : 4px;
    border-color : #fff;
  }
}
.content-wrapper {
  padding-top : 92px;

  & > .container, & > .questions-container > .container {
    height        : 100%;
    border-bottom : 1px solid #7fe0c4;
  }
  & > .container {
    & > .row {
      & > div {
        & > .questions-container {
          overflow   : scroll;
          max-height : 300px;
        }
      }
    }
  }
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display         : flex;
  align-items     : center;
  justify-content : center;
}
h1 {
  text-align: center;
  font-size: 175%;
  color: #757575;
  font-weight: 300;
}
h1, input {
  font-family: "Open Sans", Helvetica, sans-serif;
}
#signup {
  & > h1 {
    margin: 20px 0;
  }
}
.input {
  width         : 100%;
  height        : 50px;
  display       : block;
  margin        : 0 auto 15px;
  padding       : 0 15px;
  border        : none;
  border-bottom : 2px solid #ebebeb;

  @include transition(border-bottom-color .10s linear .25s);
}
.input:focus {
  outline: none;
  border-bottom-color: #7fe0c4 !important;
}
.input:invalid {
  box-shadow: none;
}
.pass:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
.inputButton {
  position         : relative;
  width            : 100%;
  height           : 50px;
  display          : block;
  margin           : 30px auto 30px;
  color            : white;
  border           : none;
  font-weight      : 400;
  font-size        : 20px;
  background-color : #7fe0c4;

  @include box-shadow(0 5px 0 #80ccb6);
}
.inputButton:hover {
  top: 2px;
  @include box-shadow(0 3px 0 #80ccb6);
}
.inputButton:active {
  top: 5px;
  box-shadow: none;
}
.inputButton:focus {
  outline: none;
}

#logbox {
  padding          : 10px;
  min-height       : 500px;
  width            : 100%;
  background-color : #ffffff;
}
#loginbox {
  width     : 100%;
  max-width : 340px;
  margin    : 30px auto 100px;
  padding   : 30px;

  @include box-shadow(0 1px 5px rgba(0, 0, 0, 0.25));

  & > form {
    input[type="text"], input[type="password"] {
      text-align : center;
    }
  }
}

footer {
  padding : 23px 0px;

  .copyright-txt {
    float     : left;
    margin    : 0px;
    padding   : 16px 0px;
    font-size : 14px;

    & > a {
      color       : #7b7b7b;
      font-weight : bold;
    }
  }
  .socials {
    float : right;

    & > a {
      float            : left;
      width            : 42px;
      height           : 42px;
      color            : #ffffff;
      font-size        : 18px;
      line-height      : 42px;
      text-align       : center;
      margin           : 7px 0px 7px 14px;
      border-radius    : 50%;
      background-color : #dddddd;

      &:hover {
        background-color : #7fe0c4;
      }
    }
  }
}

.point-bottom {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: calc(50% - 12px);
    top: 100%;
    border-top: 16px solid #565555;
    border-bottom: 0;
    border-right: 12px transparent solid;
    border-left: 12px transparent solid;
  }
}

// progress-bar
.progress {
  height        : 10px;
  margin-bottom : 25px;
  box-shadow    : none;
  background    : none;
  border-radius : 0;
  overflow      : visible;

  & > .progress-bar {
    position         : relative;
    border-radius    : 4px;
    // background-color : #cacaca;
    box-shadow       : none;
    color            : inherit;
    width            : 20%;

    & > span {
      position : absolute;
      top      : -26px;
      right    : 0px;
    }
    &.progress-bar-success {
      background-color : #67d5b5;
    }
  }
}

// button
.btn-info {
  background-color : #59b99d;
  padding          : 2px 5px 0;

  &:hover {
    background-color : #67d5b5;
    border-color     : #4fa58c;
  }
}
@media (max-width: 767px){
  footer {
    text-align : center;
    padding    : 25px 0px;

    .copyright-txt,
    .socials {
      float: none;
    }
    .copyright-txt{
      padding: 0px;
    }
    .socials {
      margin-top: 10px;

      & > a {
        display : inline-block;
        float   : none;
        margin  : 10px 5px 0px;
      }
    }
  }
}
