// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box-qoute-border {
  margin           : 20px 20px 20px 100px;;
  height           : auto;
  position         : relative;
  border           : 1px solid #80ccb6;
  border-radius    : 3px;
  background-color : #ffffff;
  &:nth-child(even) {
    margin-top    : 40px;
    margin-bottom : 40px;
  }

  & > .box-image {
    position      : absolute;
    border        : 1px solid #80ccb6;
    border-radius : 35px;
    width         : 70px;
    height        : 70px;
    bottom        : 20px;
    right         : 101%;

    & > label, & > span {
      position    : inherit;
      width       : 100%;
      text-align  : center;
    }
    & > span {
      bottom      : 100%;
      font-size   : 10px;
      font-weight : 200;
    }
    & > label {
      top         : 100%;
      font-size   : 12px;
      font-weight : 500;
    }
  }

  & > .box-body {
    min-height : 100px;
    padding    : 5px 20px;

    &:before {
      content : '';
    }
  }
  & > .box-footer {
    min-height : 10px;
  }

  &:before, &:after {
    content        : '';
    width          : 0;
    height         : 0;
    bottom         : 11px;
    right          : 100%;
    left           : -16px;
    display        : block;
    position       : absolute;
    border-color   : transparent;
    border-style   : solid solid outset;
    pointer-events : none;
  }

  &:before {
    border-width       : 8px;
    border-right-color : #80ccb6;
  }

  &:after {
    margin-top         : 1px;
    margin-left        : 1px;
    border-width       : 8px;
    border-right-color : #ffffff;
  }

  &.right{
    margin-right : 100px;
    margin-left  : 20px;

    & > .box-image {
      left   : 101%;
      top    : 25px;
      bottom : initial;
      right  : initial;
      & > label {
        bottom : 100%;
        top    : initial;
      }
      & > span {
        top    : 100%;
      }
    }
    &:before, &:after {
      top          : 11px;
      right        : -16px;
      left         : 100%;
      border-color : transparent;
    }
    &:before {
      margin-top        : -1px;
      border-left-color : #80ccb6;
    }
    &:after {
      margin-top        : 0;
      margin-left       : 0;
      border-width      : 7px;
      border-left-color : #ffffff;
    }
  }
  &.bottom{
    &:before, &:after {
      bottom       : -16px;
      top          : 100%;
      left         : 10px;
      border-color : transparent;

    }
    &:before {
      margin-top: 0;
      border-top-color: #80ccb6;

    }
    &:after {
      margin-top: 0;
      margin-left: 0;
      left: 11px;
      border-top-color: #ffffff;

    }
  }
  &.top{
    &:before, &:after {
      bottom       : 100%;
      top          : -16px;
      left         : 10px;
      border-color : transparent;
      border-style : solid solid inset;
    }
    &:before {
      margin-bottom       : 0;
      border-bottom-color : #80ccb6;
    }
    &:after {
      top                 : -15px;
      left                : 11px;
      margin-bottom       : 0;
      margin-left         : 0;
      border-bottom-color : #ffffff;
    }
  }
}
.no-border {
  border : 0;
}
