// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "utility";

.intro-header {
  font        : 300 30px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif ;
  // background  : #000000 url('bg-header1.jpg') no-repeat center center;
  padding     : 200px 0 50px;
  text-align  : center;
  line-height : 1.1;
  @include bg-size(cover);

  .site-heading {
    background    : #565555;
    padding       : 10px 20px 25px;
    box-sizing    : border-box;
    border-radius : 4px;
    color         : #ffffff;
  }
}

@media only screen and (min-width: 768px) {
  .intro-header {
    margin  : 0;
  }
}
